#pdfjs_viewer-reduced {
  .openFile { display: none; }
  .bookmark { display: none; }
  #viewThumbnail { display: none; }
  #viewOutline { display: none; }
  #viewAttachments { display: none; }
  #download { display: none; }
  #secondaryToolbarToggle { display: none; }
  #toolbarViewerRight div.verticalToolbarSeparator { display: none; }
}
